$accent: #00c48c;
$mint-soft: #f3fffb;
$orange-color: #ff9d00;
$border-color: #e0e0e0;
$text-main: #333;
$text-muted: #777;
$font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

.profile-page {
  font-family: $font-family;
  direction: rtl;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
  background: #f5f5f5;
}

.profile-card {
  background: #fff;
  border-radius: 16px;
  max-width: 900px;
  width: 100%;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1); // Added shadow for card
  overflow: hidden;
  padding: 2rem;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__avatar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }

  &__avatar-circle {
    position: relative;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 2px solid $border-color;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__avatar-btn {
    position: absolute;
    right: 0px;
    top: 90%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: $accent;
    color: #fff;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

    .profile-card__file-input {
      position: absolute;
      inset: 0;
      opacity: 0;
      cursor: pointer;
    }
    .change-button {
      font-size: 1.2rem;
      line-height: 1;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__header {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: $text-main;
    align-items: center;
  }

  .profile-card__header .MuiSvgIcon-root {
    font-size: 18px;
    color: $text-muted;
    margin-right: 8px;
    cursor: pointer;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @media (max-width: 720px) {
      grid-template-columns: 1fr;
    }
  }
  &__container-password {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @media (max-width: 720px) {
      grid-template-columns: 1fr;
    }
  }
}

.file-upload {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    font-size: 1rem;
    color: $text-muted;
    text-align: justify;
    margin-bottom: 1rem;
  }

  label {
    display: flex;
  }

  ul {
    padding-left: 1rem;
    list-style-type: none;
    margin-top: 0.5rem;
  }

  li {
    font-size: 0.9rem;
    color: $text-main;
    margin-bottom: 0.5rem;
  }
}

.form-submit {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 1rem; /* Add space between the submit and cancel buttons */
  margin-top: 2rem;
}
