$accent: #00c48c;
$mint-soft: #f3fffb;
$orange-color: #ff9d00;
$border-color: #e0e0e0;
$text-main: #333;
$text-muted: #777;
$font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

.profile-card {
  background: #fff;
  font-family: $font-family;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  overflow: hidden;
  padding: 2rem 2rem 4rem;
  margin-top: 8px;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__header {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: $text-main;
    align-items: center;
  }

  .profile-card__header .MuiSvgIcon-root {
    font-size: 18px;
    color: $text-muted;
    margin-right: 8px;
    cursor: pointer;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  &__container-password {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}

.file-upload {
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    font-size: 1rem;
    color: $text-muted;
    text-align: justify;
    margin-bottom: 1rem;
  }

  label {
    display: flex;
  }

  ul {
    padding-left: 1rem;
    list-style-type: none;
    margin-top: 0.5rem;
  }

  li {
    font-size: 0.9rem;
    color: $text-main;
    margin-bottom: 0.5rem;
  }
}

.form-submit {
  display: flex;
  justify-content: end;
  gap: 16px;
}
