$background-color: #f5f5f5;
$block-background: #e5e5e5;
$header-height: 80px;
$border-radius: 10px;
$padding: 20px;
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

.home-page-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  padding: $padding;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  margin-top: 8px;
}

.block {

  background-color: $block-background;
  padding: 15px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

@media screen and (max-width: 768px) {
  .task-blocks {
    flex-direction: column;
    align-items: center;
  }

  .block {
    width: 100%;
    margin-bottom: 15px;
  }
}
