$accent: #00c48c;
$mint-soft: #f3fffb;
$orange-color: #ff9d00;
$border-color: #e0e0e0;
$text-main: #333;
$text-muted: #777;
$font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

.change-password {
  background: #fff;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 2rem auto;

  .change-password__header {
    font-size: 1.2rem;
    color: $text-main;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .change-password__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .MuiTextField-root {
      background-color: #f5f5f5;
      border-radius: 8px;
    }

    .profile-card__container-password {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
    }

    .MuiInputBase-root {
      border-radius: 8px;
    }

    .MuiInputAdornment-root {
      color: $text-muted;
    }
  }

  .profile-card__container-password {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (max-width: 720px) {
      grid-template-columns: 1fr;
    }
  }

  .change-password__button {
    background-color: $orange-color;
    color: white;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    width: 104px;
    margin-top: 1.5rem;

    &:hover {
      //   background-color: darken($orange-color, 5%);
    }
  }

  .MuiSvgIcon-root {
    font-size: 1.2rem;
    color: $text-muted;
    cursor: pointer;
  }

  .password-toggle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}
.password-btn {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: 8px;
}
