$bg-color: #d1fadf;
$hover-color: #1dc9a0;
$border-color: #e0e0e0;
$text-muted: #777;
$font-color: #357a6e;

// .sidebar-layout {
//   display: flex;
// }

.sidebar {
  // position: fixed;
  background-color: $bg-color;
  color: $font-color;
  transition: width 0.3s ease;
  // overflow: hidden;
  top: 0;
  width: 80px;
  height: 100%;
  &--open {
    width: 256px;
  }

  &--closed {
    width: 80px;
  }

  @media (min-width: 768px) {
    width: 256px;
    transform: none;
  }
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;
}

.sidebar__title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  margin-bottom: 16px;

  display: none;

  .sidebar--open & {
    display: block;
  }

  @media (min-width: 768px) {
    display: block;
  }
}
.sidebar__toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  color: $font-color;

  @media (min-width: 768px) {
    display: none;
  }
}

/* nav */
.sidebar__nav {
  margin-top: 1rem;
}

.sidebar__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar__item {
  display: flex;
  height: 60px;
  align-items: center;
  margin: 0 0 16px 0;
  padding-right: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $hover-color;
    color: #fff;
  }
}

.sidebar__item-label {
  margin-right: 1rem;
  display: none;

  .sidebar--open & {
    display: block;
  }

  @media (min-width: 768px) {
    display: block;
  }
}

.sidebar-content {
  margin-left: 5rem;
  padding: 2rem;
  background-color: #f3f4f6;
  min-height: 100vh;
  flex: 1;

  @media (min-width: 768px) {
    margin-left: 16rem;
  }
}
