$background-color: #f5f5f5;
$block-background: white;
$header-height: 80px;
$border-radius: 10px;
$padding: 20px;
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

.content-wrapper {
  padding: $padding;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.task-blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 24px;
  margin-bottom: 20px;
  margin-top: 6px;

  &__statistic-box {
    width: 100%;
    // min-width: 330px;
    height: auto;
    min-height: 180px;
    background-color: $block-background;
    padding: 15px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    &__text {
      display: flex;
      justify-content: space-between;
      gap: 8px;
      margin-bottom: 16px;

      h3 {
        color: #777;
      }
    }

    &__date {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 8px;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: stretch;
      }

      input {
        width: 100%;
        min-width: 0;
      }
    }
  }
}

.today-plans-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: stretch;

  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.today-plan {
  background-color: $block-background;
  box-shadow: $box-shadow;
  padding: $padding;
  border-radius: $border-radius;
  margin-bottom: 20px;
  flex: 1;
  min-width: 340px;

  @media (max-width: 992px) {
    min-width: 0;
    width: 100%;
    margin-bottom: 12px;
  }

  h3 {
    margin-bottom: 24px;
  }
}
