@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Vazirmatn", sans-serif;
  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ffa500;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8c00;
}
