.login-container {
  background-image: url("../pics/bg-pics/desktop.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.login-card {
  display: flex;
  flex-direction: row-reverse;
  background-image: url("../pics/bg-pics/login.jpg");
  background-size: cover;
  position: relative;
  width: 60%;
  height: 50%;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
}

.login-info {
  width: 50%;
  position: relative;
  z-index: 10;
  padding: 10%;
}

.login-title {
  text-align: center;
  margin-bottom: 24px;
}

.login-title h1 {
  font-size: 50px;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 8px;
}

.login-underline {
  width: 65%;
  height: 10px;
  background-color: #1abc9c;
  margin: 0 auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.login-input:focus {
  outline: none;
  border-color: #1abc9c;
  box-shadow: 0 0 0 3px rgba(255, 165, 0, 0.2);
}

.login-remember {
  display: flex;
  align-items: center;
  gap: 8px;
}

.login-remember input {
  width: 16px;
  height: 16px;
  border-color: #1abc9c;
  accent-color: #1abc9c;
}

.login-remember label {
  font-size: 14px;
  color: #1abc9c;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #1abc9c;
  color: black;
  font-weight: 600;
  font-size: x-large;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button:hover {
  background-color: #069e7f;
  transform: scale(1.02);
}

.login-login-link {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
}

.login-login-link span {
  color: #4b5563;
}

.login-login-link a {
  color: #1abc9c;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

.signup-login-link a:hover {
  color: #14957b;
}

.login-forgot-password a {
  color: #1abc9c;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  justify-content: center;
}

.login-forgot-password a:hover {
  color: #14957b;
}

@media (max-width: 768px) {
  .login-card {
    max-width: 100%;
    margin: 12px;
  }
  
  .login-content {
    width: 90%;
    justify-self: center;
    padding: 24px;
  }
}